<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      My Inbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="item" *ngFor="let msg of messages">
      <div>
        <ion-label class="sender">{{msg.address}}</ion-label>
        <ion-label class="desc ion-text-wrap">{{msg.body}}</ion-label>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
