ion-content {
  --background-color: #fafafa;
}
.item {
  display: block;
}

.sender {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500px;
}
.desc {
  margin-top: 5px;
  font-size: 14px;
  margin-bottom: 5px;
}
